<!-- Cambio de contraseña -->
{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">{% trans "Cambiar Contraseña" %}</h2>

                {% slot-provider change_password %}
                <form method="post" action="{% url 'account_change_password' %}">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" type="submit">{% trans "Cambiar Contraseña" %}</button>
                    </div>
                </form>
                {% endslot-provider %}
            </div>
        </div>
    </div>
</div>
{% endblock %}